<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameServerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameServerManager.Properties.Settings>
            <setting name="SteamCMDDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Global_Timer" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="RestartHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RestartMinute" serializeAs="String">
                <value>0</value>
            </setting>
        </GameServerManager.Properties.Settings>
        <WinFormsApp1.Properties.Settings>
            <setting name="SteamCMDDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Global_Timer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RestartHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RestartMinute" serializeAs="String">
                <value>0</value>
            </setting>
        </WinFormsApp1.Properties.Settings>
    </userSettings>
</configuration>